@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500");

body {
  margin: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#main-container{
  padding: 5rem 15px;
}

#bg {
  z-index: -1;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
}

#title-text{
  font-size: 4rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  font-size: 1.25rem;
}

.hero{
  margin-top: 10rem;
  margin-bottom: 20rem;
  align-items: center;
}