.my-image{
  height: fit-content;
}

.image-alt{
  position: absolute;
  transform: translateY(-100%);
  width: calc(100% - 30px);
  background-color: #00000065;
  color: rgb(255, 255, 255);
  overflow-wrap: anywhere;
  padding: .2rem .5rem;
  font-size: .75rem;
}